
#hero {
    background-image: url("..images/S7.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 75vh;
}

/* Jumbotron */

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    height:60%;
    padding: 30px;

}

.jumbotron p {
    text-align: center;
    color: white;

}

.jumbotron h1 {
    color: white;
    font-weight: 800;

}

.jumbotron h1 span {
      font-weight: 300;
}

.jumbotron .my-4 {
    background-color: white;
}




   /*  <!--  My UX Skills section coded using CSS flex ----------------------------------------> */
   #mySkills {
    padding: 50x;
    }

   .subHeading {
    text-align: center;
    border-bottom: 2px solid black;
    width: 300px;
    margin: 50px auto;
   }


/* Opportunity */

#opportunity {
    padding: 50x;
    margin-top: 25px;
    margin-bottom: 200px;
}

.card-text {
 text-align:center;
 font-size:250px;
 margin-bottom:100px;
}



  /* Typography CSS */
  
h1 {
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    display: flex;
    font-family: Playfair Display;
    font-size: 60Px;
    margin: 10px 0px 10px 0px;
   }
 
  h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    margin: 0px 0px;
    color: #2F2F2F;
    text-align: center;
    border-bottom: 2px solid black;
  }
 
  h3 {
    font-size: 26px;
    font-weight: 300;
    margin: 0px 0px;
    color: #2F2F2F;
  }
  
  h4 {
    color: black;
    padding: 0;
    margin: 0px 0px 0px 0px;
    font-weight: 400;
    font-size: 22px;
  }

  .subHeading {
    text-align: center;
    border-bottom: 2px solid black;
    width: 300px;
    margin: 50px auto;
   }
